<div class="light body-light">
  <div class="calculator cal-light">
    <!-- ......................................  -->
    <div class="upper-content upper-light">
      <app-display [display]="display" [label]="label"></app-display>
    </div>
    <!-- ......................................  -->
    <div class="buttons">
      <div class="row">
        <app-operator
          [type]="'light'"
          (operatorEmitter)="operatorClicked($event)"
          [operator]="'C'"
        ></app-operator>
        <app-operator
          [type]="'light'"
          (operatorEmitter)="operatorClicked($event)"
          [operator]="'+/-'"
        ></app-operator>

        <app-operator
          [type]="'light'"
          (operatorEmitter)="operatorClicked($event)"
          [operator]="'%'"
        ></app-operator>
        <app-operator
          [type]="'light'"
          (operatorEmitter)="operatorClicked($event)"
          [operator]="'/'"
        ></app-operator>
      </div>
      <div class="row">
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'7'"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'8'"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'9'"
        ></app-digit>
        <app-operator
          [type]="'light'"
          (operatorEmitter)="operatorClicked($event)"
          [operator]="'X'"
        ></app-operator>
      </div>
      <div class="row">
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'4'"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'5'"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'6'"
        ></app-digit>

        <app-operator
          [type]="'light'"
          (operatorEmitter)="operatorClicked($event)"
          [operator]="'-'"
        ></app-operator>
      </div>
      <div class="row">
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'1'"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'2'"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'3'"
        ></app-digit>
        <app-operator
          [type]="'light'"
          (operatorEmitter)="operatorClicked($event)"
          [operator]="'+'"
        ></app-operator>
      </div>
      <div class="row">
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'0'"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="digitClicked($event)"
          [digit]="'.'"
        ></app-digit>
        <button class="space-light"></button>
        <app-equal
          [display]="display"
          [label]="label"
          [operator]="operator"
          [firstOperand]="firstOperand"
          [equalPressed]="equalPressed"
          (equalEmitter)="equalClicked($event)"
        ></app-equal>
      </div>
    </div>
  </div>
</div>
