<div class="light body-light">
  <div class="calculator cal-light">
    <!-- ......................................  -->
    <div class="upper-content upper-light">
      <app-display [display]="display" [label]="label"></app-display>
    </div>
    <!-- ......................................  -->
    <div class="buttons">
      <div class="row">
        <app-operator
          (operatorEmitter)="update($event)"
          [type]="'light'"
          [display]="display"
          [label]="label"
          [var1]="var1"
          [equalPressed]="equalPressed"
          [operator]="'C'"
          [operatorButton]="'C'"
        ></app-operator>
        <app-operator
          (operatorEmitter)="update($event)"
          [type]="'light'"
          [display]="display"
          [label]="label"
          [var1]="var1"
          [equalPressed]="equalPressed"
          [operator]="'+/-'"
          [operatorButton]="'+/-'"
        ></app-operator>

        <app-operator
          (operatorEmitter)="update($event)"
          [type]="'light'"
          [display]="display"
          [label]="label"
          [var1]="var1"
          [equalPressed]="equalPressed"
          [operator]="'%'"
          [operatorButton]="'%'"
        ></app-operator>
        <app-operator
          (operatorEmitter)="update($event)"
          [type]="'light'"
          [display]="display"
          [label]="label"
          [var1]="var1"
          [equalPressed]="equalPressed"
          [operator]="'/'"
          [operatorButton]="'/'"
        ></app-operator>
      </div>
      <div class="row">
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'7'"
          [operator]="operator"
          [display]="display"
          [label]="label"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'8'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'9'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-operator
          (operatorEmitter)="update($event)"
          [type]="'light'"
          [display]="display"
          [label]="label"
          [var1]="var1"
          [equalPressed]="equalPressed"
          [operator]="'X'"
          [operatorButton]="'X'"
        ></app-operator>
      </div>
      <div class="row">
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'4'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'5'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'6'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>

        <app-operator
          (operatorEmitter)="update($event)"
          [type]="'light'"
          [display]="display"
          [label]="label"
          [var1]="var1"
          [equalPressed]="equalPressed"
          [operator]="'-'"
          [operatorButton]="'-'"
        ></app-operator>
      </div>
      <div class="row">
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'1'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'2'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'3'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-operator
          (operatorEmitter)="update($event)"
          [type]="'light'"
          [display]="display"
          [label]="label"
          [var1]="var1"
          [equalPressed]="equalPressed"
          [operator]="'+'"
          [operatorButton]="'+'"
        ></app-operator>
      </div>
      <div class="row">
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'0'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <app-digit
          [type]="'light'"
          (digitEmitter)="update($event)"
          [digit]="'.'"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-digit>
        <button class="space-light"></button>
        <app-equal
          (equalEmitter)="update($event)"
          [display]="display"
          [label]="label"
          [operator]="operator"
          [var1]="var1"
          [equalPressed]="equalPressed"
        ></app-equal>
      </div>
    </div>
  </div>
</div>
