<div class="main-container">
  <app-switch></app-switch>
  <app-light
    [display]="display"
    [label]="label"
    [operator]="operator"
    [firstOperand]="firstOperand"
    [equalPressed]="equalPressed"
    (lightOpEmitter)="operatorClicked($event)"
    (lightDigitEmitter)="digitClicked($event)"
    (lightEqualDataEmitter)="equalClicked($event)"
  ></app-light>
  <app-dark
    [display]="display"
    [label]="label"
    [operator]="operator"
    [firstOperand]="firstOperand"
    [equalPressed]="equalPressed"
    (darkOpEmitter)="operatorClicked($event)"
    (darkDigitEmitter)="digitClicked($event)"
    (darkEqualDataEmitter)="equalClicked($event)"
  ></app-dark>
</div>
